/*
----------------------------------------------
General CSS
----------------------------------------------
*/
@font-face {
  font-family: 'Bookman';
  src: url("../font/Bookosb.ttf"); }
@font-face {
  font-family: "Gloucester";
  src: url("../font/GLECB.ttf"); }
.section-header h1 {
  margin: 0;
  font-size: 40px;
  font-family: 'Gloucester', serif;
  line-height: inherit;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  text-align: center; }
.section-header.secondary h1 {
  font-size: 24px; }

.lg-margin-both {
  margin-top: 60px;
  margin-bottom: 60px; }

.lg-margin-bottom {
  margin-bottom: 60px; }

.lg-margin-top {
  margin-top: 60px; }

.line hr {
  border-top: 0.2px thin #8b8b8b;
  width: 490px; }

.mui-btn--primary,
.mui-btn--primary:active,
.mui-btn--primary:focus,
.mui-btn--primary:hover {
  font-size: 13px;
  font-weight: bold;
  background-color: #3e88b2;
  width: 130px; }

/**
 * Body CSS
 */
body,
html {
  height: 100%;
  background-color: white; }

body,
buttons,
html,
input,
textarea {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

* {
  font-size: 16px;
  font-family: "Arial", sans-serif;
  color: #afb2b2; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Gloucester', serif;
  color: #3e88b2;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold; }

/* General CSS Media Query */
@media (max-width: 767px) {
  .section-header h1 {
    font-size: 20px; }
  .section-header.secondary h1 {
    font-size: 18px; }

  .lg-margin-both {
    margin-top: 40px;
    margin-bottom: 40px; }

  .lg-margin-bottom {
    margin-bottom: 40px; }

  .lg-margin-top {
    margin-top: 40px; }

  .line hr {
    width: 160px; }

  * {
    font-size: 13px; } }
/**
 * Layout CSS
 */
#header {
  background-image: url("../images/hero-img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 540px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  transition: left 0.2s; }
  #header .tagline {
    margin-top: 209px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px; }
    #header .tagline h1 {
      margin: 0;
      font-size: 50px;
      font-family: 'Gloucester', serif;
      color: white;
      line-height: 60px;
      text-transform: uppercase;
      letter-spacing: 12px;
      text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
      font-weight: bold; }
      @media (max-width: 910px) {
        #header .tagline h1 {
          font-size: 42px;
          letter-spacing: 8px; } }
      @media (max-width: 515px) {
        #header .tagline h1 {
          font-size: 30px;
          line-height: 45px;
          letter-spacing: 3px; } }

.header-height {
  height: 540px; }

@media (max-width: 767px) {
  .header-height {
    height: 350px; }

  #header {
    height: 350px; }
    #header .tagline {
      margin-top: 60px;
      margin-bottom: 30px; } }
#sidedrawer {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  left: -250px;
  overflow: auto;
  z-index: 2;
  background-color: #2c3e50;
  color: white;
  transition: transform 0.2s; }

#content-wrapper {
  min-height: 100%;
  overflow-x: hidden;
  margin-left: 0;
  transition: margin-left 0.2s; }

@media (min-width: 768px) {
  #header {
    left: 250px; }

  #sidedrawer {
    transform: translate(250px); }

  #content-wrapper {
    margin-left: 250px; }

  body.hide-sidedrawer #header {
    left: 0; }

  body.hide-sidedrawer #sidedrawer {
    transform: translate(0px); }

  body.hide-sidedrawer #content-wrapper {
    margin-left: 0; } }
/**
 * Toggle Sidedrawer
 */
#sidedrawer.active {
  transform: translate(250px); }

/**
 * Header CSS
 */
.sidedrawer-toggle {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  background-color: #2c3e50;
  padding: 7px;
  position: fixed; }

.sidedrawer-toggle:hover {
  color: #fff;
  text-decoration: none; }

/**
 * Sidedrawer CSS
 */
#mobile-sidedrawer-brand img,
#sidedrawer-brand img {
  width: 160px;
  margin: auto;
  display: block; }

#sidedrawer ul {
  list-style: none; }

#sidedrawer > ul {
  padding-left: 0; }

#sidedrawer li {
  padding: 7px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Bookman', serif; }
  #sidedrawer li a {
    text-decoration: none;
    color: white;
    font-family: 'Bookman', serif; }
  #sidedrawer li.active, #sidedrawer li:hover {
    background-color: white; }
    #sidedrawer li.active a, #sidedrawer li:hover a {
      color: #427296; }

#sidedrawer-nav {
  margin-top: 200px;
  margin-bottom: 250px; }
  @media (max-width: 767px), (min-width: 768px) and (max-height: 749px) {
    #sidedrawer-nav {
      margin-top: 50px;
      margin-bottom: 75px; } }
  @media (min-width: 768px) and (max-height: 899px) {
    #sidedrawer-nav {
      margin-top: 125px;
      margin-bottom: 175px; } }

#copyright {
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  color: white;
  text-align: center;
  text-transform: uppercase; }

/*
----------------------------------------------
Home CSS
----------------------------------------------
*/
.founded h1,
.founded p {
  text-align: left; }

.recruitment-icon {
  text-align: center;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 30px; }
  .recruitment-icon i {
    color: #3e88b2; }

.news-wrapper span,
.recruitment-wrapper span {
  letter-spacing: normal;
  font-weight: normal;
  text-transform: none; }
.news-wrapper h3,
.news-wrapper p,
.recruitment-wrapper h3,
.recruitment-wrapper p {
  margin-bottom: 30px; }
.news-wrapper img,
.recruitment-wrapper img {
  max-width: 85%;
  display: block;
  margin: 0 auto; }
@media (max-width: 767px) {
  .news-wrapper .read-more,
  .news-wrapper h3,
  .news-wrapper p,
  .recruitment-wrapper .read-more,
  .recruitment-wrapper h3,
  .recruitment-wrapper p {
    text-align: center; } }

@media (max-width: 767px) {
  .recruitment {
    text-align: center; }
    .recruitment .line hr {
      margin-top: 30px;
      margin-bottom: 30px; }

  .founded h1,
  .founded p {
    text-align: center; }
  .founded p {
    margin-top: 30px;
    margin-bottom: 30px; } }
/*
----------------------------------------------
Home CSS --- lock Menu
----------------------------------------------
*/
.block-menu {
  margin-top: 180px; }
  @media (max-width: 1440px) {
    .block-menu {
      margin-top: 158px; } }
  @media (max-width: 900px) {
    .block-menu {
      margin-top: 137px; } }
  @media (max-width: 815px) {
    .block-menu {
      margin-top: 116px; } }
  @media (max-width: 767px) {
    .block-menu {
      margin-top: 40px; } }
  .block-menu .icon-format {
    display: block; }
  .block-menu .mui-col-md-2 {
    padding-right: 0;
    padding-left: 0;
    margin: 0; }
  .block-menu i {
    color: white;
    padding-right: 5px; }
  .block-menu h1 {
    margin: 0;
    font-size: 15px;
    letter-spacing: 3px;
    line-height: inherit;
    color: white;
    padding: 5px; }
  .block-menu .block1 h1 {
    background-color: #266493; }
  .block-menu .block2 h1 {
    background-color: #28537c; }
  .block-menu .block3 h1 {
    background-color: #3a7ba6; }
  .block-menu .block4 h1 {
    background-color: #5181a8; }
  .block-menu .block5 h1 {
    background-color: #235b89; }

/*
----------------------------------------------
Contact us CSS
----------------------------------------------
*/
.form-block {
  padding: 30px;
  margin: 30px;
  background-color: #F6F6F5;
  font-size: 14px; }

.contact-form .mui-textfield {
  text-align: center;
  background-color: #AEA79F;
  color: white; }
.contact-form .field-format {
  color: white; }

.form-block .address,
.form-block .address > address {
  font-size: 14px;
  font-style: italic; }
  .form-block .address a,
  .form-block .address > address a {
    text-decoration: none; }
  .form-block .address.nojs,
  .form-block .address > address.nojs {
    text-align: center; }
@media (max-width: 850px) {
  .form-block .fix-font {
    font-size: 12px; } }

/*
----------------------------------------------
Guidelines CSS
----------------------------------------------
*/
.guidelines .line {
  margin-bottom: 50px;
  margin-top: 50px; }
.guidelines img {
  display: block;
  margin: auto;
  width: 80%; }

/*# sourceMappingURL=template.css.map */
