/*
----------------------------------------------
General CSS
----------------------------------------------
*/
$sidebar-width: 250px;
$primary-color: #2c3e50;
$secondary-color: #427296;
$teirtary-color: #3e88b2;
$text-color: #afb2b2;
$text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); // Bookman Font
$max-mobile: 767px;
$min-tablet: 768px;
@font-face {
    font-family: 'Bookman';
    src: url('../font/Bookosb.ttf');
}
// Gloucester Font
@font-face {
    font-family: "Gloucester";
    src: url("../font/GLECB.ttf");
}

.section-header {
    h1 {
        margin: 0;
        font-size: 40px;
        font-family: 'Gloucester', serif;
        line-height: inherit;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-weight: bold;
        text-align: center;
    }

    &.secondary {
        h1 {
            font-size: 24px;
        }
    }
}

.lg-margin-both {
    margin-top: 60px;
    margin-bottom: 60px;
}

.lg-margin-bottom {
    margin-bottom: 60px;
}

.lg-margin-top {
    margin-top: 60px;
}

.line {
    hr {
        border-top: 0.2px thin #8b8b8b;
        width: 490px;
    }
}
// primary buttom color

.mui-btn--primary,
.mui-btn--primary:active,
.mui-btn--primary:focus,
.mui-btn--primary:hover {
    font-size: 13px;
    font-weight: bold;
    background-color: #3e88b2;
    width: 130px;
}
/**
 * Body CSS
 */
body,
html {
    height: 100%;
    background-color: white;
}

body,
buttons,
html,
input,
textarea {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: $text-shadow;
}

* {
    font-size: 16px;
    font-family: "Arial", sans-serif;
    color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Gloucester', serif;
    color: $teirtary-color;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
}
/* General CSS Media Query */
@media(max-width: $max-mobile) {
    .section-header {
        h1 {
            font-size: 20px;
        }

        &.secondary {
            h1 {
                font-size: 18px;
            }
        }
    }

    .lg-margin-both {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .lg-margin-bottom {
        margin-bottom: 40px;
    }

    .lg-margin-top {
        margin-top: 40px;
    }

    .line {
        hr {
            width: 160px;
        }
    }

    * {
        font-size: 13px;
    }
}
/**
 * Layout CSS
 */
$header-height: 540px;
$mobile-header-height: 350px;

#header {
    background-image: url("../images/hero-img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: $header-height;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    transition: left 0.2s;

    .tagline {
        margin-top: 209px;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;

        h1 {
            margin: 0;
            font-size: 50px;
            font-family: 'Gloucester', serif;
            color: white;
            line-height: 60px;
            text-transform: uppercase;
            letter-spacing: 12px;
            text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
            font-weight: bold;
            @media(max-width: 910px) {
                font-size: 42px;
                letter-spacing: 8px;
            }
            @media(max-width: 515px) {
                font-size: 30px;
                line-height: 45px;
                letter-spacing: 3px;
            }
        }
    }
}

.header-height {
    height: $header-height;
}
@media(max-width: $max-mobile) {
    .header-height {
        height: $mobile-header-height;
    }

    #header {
        height: $mobile-header-height;

        .tagline {
            margin-top: 60px;
            margin-bottom: 30px;
        }
    }
}

#sidedrawer {
    position: fixed;
    top: 0;
    bottom: 0;
    width: $sidebar-width;
    left: -$sidebar-width;
    overflow: auto;
    z-index: 2;
    background-color: $primary-color;
    color: white;
    transition: transform 0.2s;
}

#content-wrapper {
    min-height: 100%;
    overflow-x: hidden;
    margin-left: 0;
    transition: margin-left 0.2s;
}
@media (min-width: $min-tablet) {
    #header {
        left: $sidebar-width;
    }

    #sidedrawer {
        transform: translate($sidebar-width);
    }

    #content-wrapper {
        margin-left: $sidebar-width;
    }

    body.hide-sidedrawer #header {
        left: 0;
    }

    body.hide-sidedrawer #sidedrawer {
        transform: translate(0px);
    }

    body.hide-sidedrawer #content-wrapper {
        margin-left: 0;
    }
}
/**
 * Toggle Sidedrawer
 */
#sidedrawer.active {
    transform: translate($sidebar-width);
}
/**
 * Header CSS
 */
.sidedrawer-toggle {
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
    background-color: $primary-color;
    padding: 7px;
    position: fixed;
}

.sidedrawer-toggle:hover {
    color: #fff;
    text-decoration: none;
}
/**
 * Sidedrawer CSS
 */
#mobile-sidedrawer-brand img,
#sidedrawer-brand img {
    width: 160px;
    margin: auto;
    display: block;
}

#sidedrawer ul {
    list-style: none;
}

#sidedrawer > ul {
    padding-left: 0;
}

#sidedrawer li {
    padding: 7px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Bookman', serif;

    a {
        text-decoration: none;
        color: white;
        font-family: 'Bookman', serif;
    }

    &.active,
    &:hover {
        background-color: white;

        a {
            color: $secondary-color;
        }
    }
}

#sidedrawer-nav {
    margin-top: 200px;
    margin-bottom: 250px;
    @media(max-width: $max-mobile), (min-width: $min-tablet) and (max-height: 749px) {
        margin-top: 50px;
        margin-bottom: 75px;
    }
    @media(min-width: $min-tablet) and (max-height: 899px) {
        margin-top: 125px;
        margin-bottom: 175px;
    }
}

#copyright {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
/*
----------------------------------------------
Home CSS
----------------------------------------------
*/
.founded {
    h1,
    p {
        text-align: left;
    }
}

.recruitment-icon {
    text-align: center;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 30px;

    i {
        color: $teirtary-color;
    }
}

.news-wrapper,
.recruitment-wrapper {
    span {
        letter-spacing: normal;
        font-weight: normal;
        text-transform: none;
    }

    h3,
    p {
        margin-bottom: 30px;
    }

    img {
        max-width: 85%;
        display: block;
        margin: 0 auto;
    }
    @media(max-width: $max-mobile) {
        .read-more,
        h3,
        p {
            text-align: center;
        }
    }
}
@media(max-width: $max-mobile) {
    .recruitment {
        text-align: center;

        .line {
            hr {
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }
    }

    .founded {
        h1,
        p {
            text-align: center;
        }

        p {
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
}
/*
----------------------------------------------
Home CSS --- lock Menu
----------------------------------------------
*/
.block-menu {
    margin-top: 180px;
    @media(max-width: 1440px) {
        margin-top: 158px;
    }
    @media(max-width: 900px) {
        margin-top: 137px;
    }
    @media(max-width: 815px) {
        margin-top: 116px;
    }
    @media(max-width: $max-mobile) {
        margin-top: 40px;
    }

    .icon-format {
        display: block;
    }

    .mui-col-md-2 {
        padding-right: 0;
        padding-left: 0;
        margin: 0;
    }

    i {
        color: white;
        padding-right: 5px;
    }

    h1 {
        margin: 0;
        font-size: 15px;
        letter-spacing: 3px;
        line-height: inherit;
        color: white;
        padding: 5px;
    }

    .block1 {
        h1 {
            background-color: #266493;
        }
    }

    .block2 {
        h1 {
            background-color: #28537c;
        }
    }

    .block3 {
        h1 {
            background-color: #3a7ba6;
        }
    }

    .block4 {
        h1 {
            background-color: #5181a8;
        }
    }

    .block5 {
        h1 {
            background-color: #235b89;
        }
    }
}
/*
----------------------------------------------
Contact us CSS
----------------------------------------------
*/
.form-block {
    padding: 30px;
    margin: 30px;
    background-color: #F6F6F5;
    font-size: 14px;
}

.contact-form {
    .mui-textfield {
        text-align: center;
        background-color: #AEA79F;
        color: white;
    }

    .field-format {
        color: white;
    }
}

.form-block {
    .address,
    .address > address {
        font-size: 14px;
        font-style: italic;

        a {
            text-decoration: none;
        }

        &.nojs {
            text-align: center;
        }
    }
    @media(max-width: 850px) {
        .fix-font {
            font-size: 12px;
        }
    }
}
/*
----------------------------------------------
Guidelines CSS
----------------------------------------------
*/
.guidelines {
    .line {
        margin-bottom: 50px;
        margin-top: 50px;
    }

    img {
        display: block;
        margin: auto;
        width: 80%;
    }
}
